<section class='card'>
    <h3 class='post-title'>{{title}}</h3>
    <h5 class='post-creator'>{{user.username}}</h5>
    <section class='container'>
        <h5 class='post-body'>{{body}}</h5>
    </section>
</section>