<section>
    <a href='/dashboard'>&larr; Back to dashboard</a> 
    <h2 class='title'>Creata a New Blog Post</h2>

    <form class='new-post-form'>
        <h3>Create New Blog Post</h3>
        <section>
            <label for='newposttitle'>Title:</label>
            <input id='new-title' text='text' />
        </section>
        <section>
            <label for='newpostcontent'>Message:</label>
            <input id='new-content' text='text' />
        </section>
        <button type='submit' id='submit-new-post' class='button is-secondary'>Create Post</button>
    </form>

</section>

<script src= '../public/createpost.js'></script>