<section>
    <form class='login secondary m-10 p-5'>
        <h2 class='mb-5'>Login Form</h2>
        <input class='mb-5' type='text' label='Email:' id='email'/>
        
        <input class='mb-5' type='text' label='Password:' id='password'/>
        
        <button type='submit' id='login-button'>Login!</button>
    </form>


    <form class='login secondary m-10 p-5'>
        <h2 class='mb-5'>New Signup Form</h2>
        <input class='mb-5' type='text' label='Email:' id='email-signup'/>
        
        <input class='mb-5' type='text' label='Password:' id='password-signup'/>
        
        <input class='mb-5' type='text' label='Username:' id='username-signup'/>      
        <button class='button m-5 p-5' type='submit' id='signup-button'>Login!</button>
    </form>
</section>

<script src='../public/js/login-logout.js'></script>