<section class='m-10 p-5'>
    <form id='comment-form' class='p-5'>
        <input id='post-title' label='New Title:' type:'text'>

        <input id='post-body' label='New Message:' type:'text'>
        <button class='m-10' id='edit-post-button'>Update Post</button>
    </form>
</section>

<script src='../public/js/updatepost.js'></script>